<p id="notice"><%= notice %></p>


<p>
<strong>Host:</strong>
  <% if current_user.email = @event.creator.email %>
    Me
  <% else %>
    <%= @event.creator.email %>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
