<!DOCTYPE html>
<html>
  <head>
    <title>Eventlite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link_to "eventlite", root_path, class: "navbar-item has-text-weight-bold has-text-primary" %>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <%= link_to 'Create Event', new_event_path, class: "mr-6 has-text-weight-bold has-text-link" %>
          <% if user_signed_in? %>
            <a class="has-text-grey mr-6" href="/users/<%= current_user.id %>"> My Events </a>
            <%= link_to  "Sign Out", destroy_user_session_path, class: "navbar-item mr-2"%>
          <% else %>
            <a class="has-text-grey mr-2" href="/users/sign_in">
              Sign In
            </a>
          <% end %>
    </div>
  </div>
  </div>
  </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
